<!DOCTYPE html>
<html lang="en">

<body > 

    <section>
        <p><em> First Name:</em> <%= data.firstname %></p>
        <p><em>Last Name: </em><%= data.lastname %></p>
        <p><em>Policy: </em><%= data.policy %></p>
        <p><em>Gender: </em><%= data.gender %></p>
        <p><em>Country: </em><%= data.country %></p>
      </section>
</body>
</html>